.show {
    display:block;
}
.showInline {
    display:inline-block;
}
.hide {
    display:none!important; 
}
.fade {
    animation: fade 1.5s;
}
.quicklyFade {
    animation: fade 0.3s;
}
@keyframes fade {
    from {
        opacity:0.1;
    } 
    to {
        opacity:1;
    }
}
.loading {
    position: relative;
    width: fit-content;
    height: 275px;
    margin: 105px auto;
    .logobottom {
        max-height: 100%;
        width: auto !important;
        position: relative;
    }
    .logotop {
        position: absolute;
        max-height: 45%;
        left: 50%;
        top: 12%;
        animation: loadSpiner 2s infinite;
    }
}
button {
    .loading {
        height: 100%;
        margin: 0 auto;
        .logotop {
            position: absolute;
            max-height: 45%;
            left: 50%;
            top: 50%;
            animation: loadMiniSpiner 2s infinite;
        }
    }
}

.activeLike {
    text-shadow: 0 0 10px rgba(72, 188, 255, 0.8);
    font-size: 22px !important;
    color: #fff !important;
    transition: 0.3s all;
}
.activeDis {
    text-shadow: 0 0 10px rgba(255,72,72,.8);
    font-size: 22px !important;
    color: #fff !important;
    transition: 0.3s all;
}

@keyframes loadSpiner {
    from {
        transform: translateX(-50%) rotate(0deg);
        animation-timing-function: linear;
    } 
    to {
        transform: translateX(-50%) rotate(-360deg);
        animation-timing-function: linear;
    }
}

@keyframes loadMiniSpiner {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
        animation-timing-function: linear;
    } 
    to {
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
        animation-timing-function: linear;
    }
}
.seatsPlanWindow {
    background: rgba(11, 74, 90, .5);
    padding: 10px;
    border-radius: 10px;
}

.seatsPlan-wrapper {
    margin: 20px auto;
    width: 300px;
}

.screen {
    background-color: #fff;
    border-radius: 10px;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-family: 'Magneto';
        font-size: 30px;
    }
}

.row {
    display: flex;
    justify-content: center;
}

.seat {
    background-color: #1d7f91;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.seat.selected {
    background-color: #fff;
}

.seat.occupd {
    background-color: #0c232b;
    cursor: not-allowed;
}

.movie-container {
    margin: 20px auto;
    text-align: center;
}

.text {
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    span {
        font-family: 'Magneto';
    }
}

#movie {
    font-size: 16px;
    padding: 5px;
    border: none;
    background:#0c232b;
    color: #fff;
    border-radius: 5px;
    outline: none;
}
.buyTickets button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    span {
        font-weight: 700;
        font-size: 15px;
    }
}
#btn-super {
    background: #f3bf0b;
}

.POSTER_img{max-height: 463px}

@media (max-width: 999px) {
    .POSTER_img {
        max-height: 200px;
    }
}
@media (max-width: 700px) {
    .POSTER_img {
        max-height: 463px;
        height: 463px;
    }
    .screen {
        border-radius: 5px;
        height: 50px;
        width: 100%;
        span {
            font-size: 20px;
        }
    }
    .seatsPlan-wrapper {
        margin: 10px auto;
        width: 100%;
    }
    .seat {
        height: 22px;
        width: 22px;
        margin: 3px;
        border-radius: 2px;
        cursor: pointer;
    }
}