.show {
    display:block;
}
.showInline {
    display:inline-block;
}
.hide {
    display:none!important; 
}
.fade {
    animation: fade 1.5s;
}
.quicklyFade {
    animation: fade 0.3s;
}
@keyframes fade {
    from {
        opacity:0.1;
    } 
    to {
        opacity:1;
    }
}
.loading {
    position: relative;
    width: fit-content;
    height: 275px;
    margin: 105px auto;
    .logobottom {
        max-height: 100%;
        width: auto !important;
        position: relative;
    }
    .logotop {
        position: absolute;
        max-height: 45%;
        left: 50%;
        top: 12%;
        animation: loadSpiner 2s infinite;
    }
}
button {
    .loading {
        height: 100%;
        margin: 0 auto;
        .logotop {
            position: absolute;
            max-height: 45%;
            left: 50%;
            top: 50%;
            animation: loadMiniSpiner 2s infinite;
        }
    }
}


@keyframes loadSpiner {
    from {
        transform: translateX(-50%) rotate(0deg);
        animation-timing-function: linear;
    } 
    to {
        transform: translateX(-50%) rotate(-360deg);
        animation-timing-function: linear;
    }
}

@keyframes loadMiniSpiner {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
        animation-timing-function: linear;
    } 
    to {
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
        animation-timing-function: linear;
    }
}